<nav class="navbar navbar-expand-lg w-50 mx-auto mb-5">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-50 rounded-pill bg-dark" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0 py-1 ">
          
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-info text-black rounded-pill" routerLink="Seafood">Seafood</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-info text-black rounded-pill" routerLink="Pasta">Pasta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-info text-black rounded-pill" routerLink="Breakfast">Breakfast</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>